{% extends 'base.html' %}

{% block title %}
    <title>Cadastrar</title>
{% endblock %}

{% block extra_styles %}

{% endblock %}

{% block body_class %}
    login-bg d-flex align-items-center justify-content-center vh-100    
{% endblock %}


{% block content%}
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Atenção!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="modal-flash-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entendi</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}
