{% extends 'base.html' %}

{% block title %}
    <title>Acessar</title>
{% endblock %}

{% block extra_styles %}

{% endblock %}

{% block body_class %}
    login-bg d-flex align-items-center justify-content-center vh-100    
{% endblock %}


{% block content%}
<main class="login-container form-signin w-25 m-2 ratio-4x3"> 
    <form method="POST">
        <h1 class="h3 mb-2 text-center text-white"> Acessar</h1>
        <div class="form-floating my-1 border-white"> 
            <input name='email' type="email" class="form-control" id="email" placeholder="name@example.com"> 
            <label for="floatingInput">Email</label> </div>             
        </div>   
        <div class="form-floating my-1 border-white"> 
            <input name='password'  type="password" class="form-control" id="password" placeholder="Password"> 
            <label for="floatingPassword">Senha</label> 
            </div>
        </div>
        <div>
            <a href="{{ url_for('recover_password.recover_password') }}" class="link-primary link-offset-2 link-underline-opacity-50 link-underline-opacity-50-hover">
                Esqueceu a senha?
            </a>

            <div class="form-check text-start my-2">
                <input type="checkbox" class="form-check-input border-dark-subtle" value="remember-me" id="checkDefault">
                <label class="form-check-label text-white" for="checkDefault">Lembrar?</label>            
            </div>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto co">
            <button type="submit" class="btn btn-primary w-100 py-2">Entrar</button>
        </div>
    </form>
    <form action="{{ url_for('create.create_user') }}" method="GET">        
        <div class="d-grid gap-2 col-6 mx-auto my-2 co">
        <button type="submit" class="btn btn-secundary w-100 py-2 border-white text-white">Cadastrar</button>
        </div>
    </form>
</div>
    {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
            {% for category, message in messages%}
                <div aria-live="polite" aria-atomic="true" class="border-white">
                    <div class=" toast-container position-fixed bottom-0 end-0 p-3 border-white" id="toastPlacement">  
                        <strong class="me-auto text-white">Login Erro</strong>                  
                        <div class="toast-header alert-info" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="alert-{{ message if category == 'error' else message}}">
                                <div class="me-auto text-white">{{message}}</div>
                            </div>
                        </div>                    
                    </div>
                </div>
            {% endfor%}
        {% endif%}
    {% endwith%}
</main>


{% endblock %}
