{% extends 'base.html' %}

{% block title %}
    <title>Cadastrar</title>
{% endblock %}

{% block body_class %}
    d-flex align-items-center justify-content-center bg-body-tertiary vh-100
{% endblock %}

<style>
    .login-bg {
        background-color: #747171;
        background-size: cover;
    }
</style>

{% block content%}
<main class="form-signin w-25  m-2 ratio-4x3"> 
    <form method="POST">
        <h1 class="h3 mb-2 text-center"> Cadastrar</h1>
        <div class="form-floating my-1 border-end border-bottom"> 
            <input type="username" class="form-control" id="floatingInput" placeholder="name@example.com"> 
            <label for="floatingInput">Nome</label> </div>             
        </div>   
        <div class="form-floating my-1 border-end border-bottom"> 
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"> 
            <label for="floatingInput">Email</label> </div>             
        </div>   
        <div class="form-floating my-1 border-end border-bottom"> 
            <input type="phone" class="form-control" id="floatingInput" placeholder="name@example.com"> 
            <label for="floatingInput">Telefone</label> </div>             
        </div>   
        <div class="form-floating my-1 border-end border-bottom"> 
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"> 
            <label for="floatingPassword">Senha</label> 
            </div>
        </div>  
        <div class="form-floating my-1 border-end border-bottom"> 
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"> 
            <label for="floatingPassword">Confirme a senha</label> 
            </div>
        </div>        

        <div class="d-grid gap-2 col-6 mx-auto co my-3">
            <button type="submit" class="btn btn-primary w-100 py-2">Cadastrar</button>
        </div>

    </form>
    <form action="{{ url_for('login.login') }}" method="POST">        
        <div class="d-grid gap-2 col-6 mx-auto co">
        <button type="submit" class="btn btn-secundary w-100 py-2 border-black">Login</button>
        </div>
    </form>
</main>


{% endblock %}
