{% extends 'base_index.html' %}

{% block title %}
    <title>Novo repositório - GitQa</title>
{% endblock %}

{% block extra_styles %}

{% endblock %}

{% block body_class %}
     
{% endblock %}


{% block content%}
<div class="container p-3 mx-2 border-0 ">
    <a href="{{ url_for('home.home') }}">
        <button class=" bg-transparent border-0 align-content-center" >
            <i class="fa-solid fa-house py-1 px-2"></i>
            <h6 class="h6 font-monospace py-2">Inicio</h6>
        </button>
    </a>
        
</div>
<form method="POST">

    <h1 class="h3  my-3 mx-auto w-75 align-items-center mw-200 border-black align-content-center align-middle bg-white"> Novo projeto</h1>
    <h5 class="h6  my-3 mx-auto w-75 align-items-center mw-200 border-black align-content-center align-middle bg-white text-secondary"> Criar novo repositório para testes manuais e/ou automatizados</h5>
    
    <div class="form-floating my-2 mx-auto w-75 align-items-center mw-200 border-secondary align-content-center align-middle bg-white"> 
        <input name='project_name' type="text" class="form-control border-secondary" id="project_name" placeholder="Nome do projeto"> 
        <label for="text">Nome do projeto</label> </div>             
    </div>   
    <div class="form-floating my-2 mx-auto w-75 align-items-center mw-200 align-content-center align-middle bg-white"> 
        <input name='project_description' type="text" class="form-control pe-5 border-secondary" id="project_description" placeholder="Descrição"> 
        <label for="text">Descrição</label>    
    </div>

    <div class="form-check  my-2 mx-auto w-75 align-items-center mw-200 align-content-center align-middle bg-white">
        <input class="form-check-input" name="public_project" type="checkbox" value="{{ True }}" id="public_project">
        <label class="form-check-label" for="checkDefault">
            Deixar público?
        </label>
    </div>



    <div  class="d-grid gap-2 col-2 mx-auto co">
        <button type="submit" class="btn btn-primary w-100 py-2 bg-dark">Criar</button>
    </div>
</form>

{% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
        {% for category, message in messages%}
            <div aria-live="polite" aria-atomic="true" class="border-black">
                <div class=" toast-container position-fixed bottom-0 end-0 p-3 border-black" id="toastPlacement">  
                    <strong class="me-auto text-black"> 
                        <h6 class=" h6"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#ff0000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ban-icon lucide-ban text-start text-lg-center align-content-start align-middle align-bottom"><circle cx="12" cy="12" r="10"/><path d="M4.929 4.929 19.07 19.071"/></svg>
                            Error ao criar projeto
                        </h6>

                    </strong>                  
                    <div class="toast-header alert-info text-danger" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="alert-{{ message if category == 'error' else message}}">
                            <div class="me-auto" style="color:#ff0000;">{{message}}</div>
                        </div>
                    </div>                    
                </div>
            </div>
        {% endfor%}
    {% endif%}
{% endwith%}


{% endblock %}
