{% extends 'base_index.html' %}

{% block title %}
    <title>Novo repositório - GitQa</title>
{% endblock %}

{% block extra_styles %}

{% endblock %}

{% block body_class %}
     
{% endblock %}


{% block content%}

<form method="POST">
    <h1 class="h3  my-3 mx-auto w-75 align-items-center mw-200 border-black align-content-center align-middle bg-white"> Novo projeto</h1>
    <h5 class="h6  my-3 mx-auto w-75 align-items-center mw-200 border-black align-content-center align-middle bg-white text-secondary"> Criar novo repositório para testes manuais e/ou automatizados</h5>
    
    <div class="form-floating my-2 mx-auto w-75 align-items-center mw-200 border-secondary align-content-center align-middle bg-white"> 
        <input name='project_name' type="text" class="form-control border-secondary" id="project_name" placeholder="Nome do projeto"> 
        <label for="text">Nome do projeto</label> </div>             
    </div>   
    <div class="form-floating my-2 mx-auto w-75 align-items-center mw-200 align-content-center align-middle bg-white"> 
        <input name='project_description' type="text" class="form-control pe-5 border-secondary" id="project_description" placeholder="Descrição"> 
        <label for="text">Descrição</label>    
    </div>

    <div class="form-check  my-2 mx-auto w-75 align-items-center mw-200 align-content-center align-middle bg-white">
        <input class="form-check-input" name="public_project" type="checkbox" value="{{ True }}" id="public_project">
        <label class="form-check-label" for="checkDefault">
            Deixar público?
        </label>
    </div>



    <div  class="d-grid gap-2 col-2 mx-auto co">
        <button type="submit" class="btn btn-primary w-100 py-2 bg-dark">Criar</button>
    </div>
</form>

{% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
        {% for category, message in messages%}
            <div aria-live="polite" aria-atomic="true" class="border-black">
                <div class=" toast-container position-fixed bottom-0 end-0 p-3 border-black" id="toastPlacement">  
                    <strong class="me-auto text-black">Erro ao criar projeto</strong>                  
                    <div class="toast-header alert-info text-danger" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="alert-{{ message if category == 'error' else message}}">
                            <div class="me-auto text-danger">{{message}}</div>
                        </div>
                    </div>                    
                </div>
            </div>
        {% endfor%}
    {% endif%}
{% endwith%}


{% endblock %}
