{% extends 'base_index.html' %}

{% block title %}
    <title>Novo repositório - GitQa</title>
{% endblock %}

{% block extra_styles %}

{% endblock %}

{% block body_class %}
     
{% endblock %}


{% block content%}

<div class=" align-content-center">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); " aria-label="breadcrumb" class=" breadcrumb bg-transparent align-content-center text-body text-center text-transparent">
        <ol class="breadcrumb bg-transparent align-content-center text-center">
            <li class="breadcrumb-item text-center"><a href="{{ url_for('home.home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Novo repositório</li>
        </ol>
    </nav>
</div>


{% endblock %}
