{% extends 'base_index.html' %}

{% block title %}
    <title>Inicio - GitQa</title>
{% endblock %}

{% block extra_styles %}

{% endblock %}

{% block body_class %}
     
{% endblock %}


{% block content%}

<div>
    
</div>

<a href="/project/create"
   class="btn btn-dark d-flex align-items-center justify-content-center shadow-lg"
   style="position: fixed; width: 60px; height: 60px; bottom: 40px; right: 40px; border-radius: 50%; font-size: 24px; z-index: 1000;">
    <i class="fa-solid fa-plus"></i>
</a>

<div class="container text-center p-4">
  <div class="row justify-content-start">
    <div class="col-4">
        <img src="{{ url_for('static', filename='thayna.jpg') }}" alt="img" height="300px" width="300px" class="img-thumbnail rounded-1 text-center" style="border: 1px solid #495057";>
    </div>
    <div class="col-4 p-4">
      <h3 class=" align-middle">{{username}}</h3>
      <h6>teste</h6>
    </div>
  </div>
</div>

               

</div>
    {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
            {% for category, message in messages%}
                <div aria-live="polite" aria-atomic="true" class="border-black">
                    <div class=" toast-container position-fixed bottom-0 end-0 p-3 border-black" id="toastPlacement">  
                        <strong class="me-auto text-black">Login Erro</strong>                  
                        <div class="toast-header alert-info text-danger" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="alert-{{ message if category == 'error' else message}}">
                                <div class="me-auto text-danger">{{message}}</div>
                            </div>
                        </div>                    
                    </div>
                </div>
            {% endfor%}
        {% endif%}
    {% endwith%}
{% endblock %}
