{% extends 'base_index.html' %}

{% block title %}
    <title>Projetos - GitQa</title>
{% endblock %}

{% block extra_styles %}

{% endblock %}

{% block body_class %}
     
{% endblock %}

{% block navbar%}
{% endblock %}

{% block content%}

<div class="card-group">

    {% if usuario  %}

        {% for usuario in usuario %}
            <div class="card mb-3 mx-3 my-5" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{ usuario.length }}</h5>
                <h5 class="card-title">{{ usuario.nome }}</h5> 
                <p class="card-text"><small class="text-body-secondary">{{ usuario.status }}</small></p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

<a href="/home/project/create"
   class="btn btn-dark d-flex align-items-center justify-content-center shadow-lg"
   style="position: fixed; width: 60px; height: 60px; bottom: 40px; right: 40px; border-radius: 50%; font-size: 24px; z-index: 1000;">
    <i class="fa-solid fa-plus"></i>
</a>

</div>
    {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
            {% for category, message in messages%}
                <div aria-live="polite" aria-atomic="true" class="border-black">
                    <div class=" toast-container position-fixed bottom-0 end-0 p-3 border-black" id="toastPlacement">  
                        <strong class="me-auto text-black">Login Erro</strong>                  
                        <div class="toast-header alert-info text-danger" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="alert-{{ message if category == 'error' else message}}">
                                <div class="me-auto text-danger">{{message}}</div>
                            </div>
                        </div>                    
                    </div>
                </div>
            {% endfor%}
        {% endif%}
    {% endwith%}
{% endblock %}
