{% extends 'base_index.html' %}

{% block title %}
    <title>Home - GitQa</title>
{% endblock %}

{% block extra_styles %}

{% endblock %}

{% block body_class %}
     
{% endblock %}


{% block content%}
<div class="px-5 py-2 text-bg-dark border-bottom"> 
    <div class="container"> 
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"> 
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"> 
                <svg cless="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                    <use xlink:href="#bootstrap">

                    </use>
                </svg> 
            </a> 
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"> 
                <li> 
                    <a href="/home" class="nav-link text-secondary"> 
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true">
                            <use xlink:href="#home">

                            </use>
                        </svg>
                        Home
                    </a> 
                </li> 
                <li> 
                    <a href="/home/project" class="nav-link text-white"> 
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true">
                            <use xlink:href="#speedometer2">

                            </use>
                        </svg>
                        Projetos
                    </a> 
                </li> 
                <li> 
                    <a href="#" class="nav-link text-white"> 
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true">
                            <use xlink:href="#table">

                            </use>
                        </svg>
                        Orders
                    </a> 
                </li> 
                <li> 
                    <a href="#" class="nav-link text-white"> 
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true">
                            <use xlink:href="#grid">
                                
                            </use>
                        </svg>
                        Products
                    </a> 
                </li> 
                <li> 
                    <a href="#" class="nav-link text-white"> 
                        <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true">
                            <use xlink:href="#people-circle">

                            </use>
                        </svg>
                        Customers
                    </a> 
                </li> 
            </ul> 
        </div> 
    </div> 

</div>



<a href="/home/project/create"
   class="btn btn-dark d-flex align-items-center justify-content-center shadow-lg"
   style="position: fixed; width: 60px; height: 60px; bottom: 40px; right: 40px; border-radius: 50%; font-size: 24px; z-index: 1000;">
    <i class="fa-solid fa-plus"></i>
</a>

</div>
    {% with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
            {% for category, message in messages%}
                <div aria-live="polite" aria-atomic="true" class="border-black">
                    <div class=" toast-container position-fixed bottom-0 end-0 p-3 border-black" id="toastPlacement">  
                        <strong class="me-auto text-black">Login Erro</strong>                  
                        <div class="toast-header alert-info text-danger" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="alert-{{ message if category == 'error' else message}}">
                                <div class="me-auto text-danger">{{message}}</div>
                            </div>
                        </div>                    
                    </div>
                </div>
            {% endfor%}
        {% endif%}
    {% endwith%}
{% endblock %}
