name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  check-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff pylint pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Lint with Ruff (Substitui o Flake8 - Rápido)
        # O ruff lerá seu pyproject.toml e respeitará o limite de 88 chars e exclusão da venv
        run: ruff check .

      - name: Analysing with Pylint (Análise Profunda)
        # Analisamos apenas a pasta 'app' para evitar bibliotecas de terceiros
        run: pylint app/

      #- name: Run Tests with Pytest
       # run: |
          # Define o caminho para que o pytest encontre seus módulos
         # export PYTHONPATH=$PYTHONPATH:$(pwd)
          #pytest